<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="" id="" style="background-color: cadetblue;">Block 요소</div>
    <div class="greeting" id="greeting1">안녕하세요.</div>
    <div class="greeting" id="greeting2">반갑습니다.</div>
    <span style="background-color: darkred;">Inline 요소</span>
    <div>안녕하세요. 저의 이름은 <span style="font-weight: 900;">서지훈</span>입니다. 반갑습니다.</div>
</body>
</html>