<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>Text Input</span>
    <input type="text" />
    <span>Password Input</span>
    <input type="password" />
    <span>CheckBox Input</span>
    <input name="check" type="checkbox" />
    <input name="check" type="checkbox" />
    <span>Radio Input</span>
    <input name="radio" type="radio" />
    <input name="radio" type="radio" />
    <span>Date Input</span>
    <input type="date" />
    <span>DateTime Input</span>
    <input type="datetime-local" />
    <span>Button</span>
    <button>버튼</button>
</body>
</html>